* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #dfe0f9;
  color: rgb(6, 131, 241);
}

.start__button,
.info__box,
.quiz__box,
.result__box {
  opacity: 0;
  z-index: -10;
  position: absolute;
  outline: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.start__button {
  opacity: 1;
  z-index: 1;
  box-shadow: none;
  cursor: pointer;
}

.info__box.activeInfo {
  z-index: 25;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.result__box.activeResult {
  z-index: 25;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.info__box {
  flex-direction: column;
  background-color: rgb(76, 0, 61);
  color: #dfe0f9;
  width: 600px;
  z-index: 30;
  padding: 20px 40px;
  border-radius: 25px;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
}

.info__box .info__title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  padding: 0 30px;
  height: 60px;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  border-bottom: 1px solid rgb(202, 205, 255);
  color: rgb(145, 251, 122);
}

.info__box .info__list {
  padding: 15px 35px;
}

.info__box .info__list .info__list-item {
  margin: 5px 0;
  font-size: 18px;
  width: fit-content;
}

.info__box .info__list .info__list-item span {
  font-weight: 500;
  color: rgb(145, 251, 122);
}

.info__box .button {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 35px;
  border-top: 1px solid rgb(202, 205, 255);
}

.info__box .button button {
  margin: 0 5px;
  height: 40px;
  width: 100px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button button.button__quit {
  background-color: rgb(212, 209, 249);
}

.button button.button__quit:hover {
  background-color: rgb(172, 17, 234);
}
.button button.button__restart {
  background-color: rgb(145, 251, 122);
}

.button button.button__restart:hover {
  background-color: rgb(0, 208, 90);
}

.start__button button {
  font-size: 25px;
  font-weight: 500;
  color: rgb(13, 30, 84);
  padding: 25px 40px;
  border-radius: 25px;
  border: transparent;
  outline: none;
  background-color: rgb(98, 112, 179);
  cursor: pointer;
  color: aliceblue;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
}

.quiz__box {
  width: 550px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  transform: translate(-50%, -50%) scale(0.9);
  pointer-events: none;
}

.quiz__box.activeQuiz {
  z-index: 25;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.quiz__box header {
  position: relative;
  z-index: 99;
  height: 70px;
  padding: 0 30px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.3);
}

.quiz__box header .title {
  font-size: 20px;
  font-weight: 600;
}

.quiz__box header .timer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 145px;
  height: 45px;
  background-color: #dfe0f9;
  border: 1px solid #b8daff;
  border-radius: 5px;
  padding: 0 8px;
}

.quiz__box header .timer .timer__text {
  font-weight: 400;
  font-size: 18px;
  user-select: none;
}

.quiz__box header .timer .timer__sec {
  font-size: 18px;
  font-weight: 500;
  background-color: rgb(84, 86, 177);
  height: 30px;
  width: 45px;
  color: #b8daff;
  text-align: center;
  line-height: 30px;
  border-radius: 10px;
  border: 1ps solid #597793;
  user-select: none;
}

.quiz__box header .time__line {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  background-color: rgb(98, 112, 179);
}
.quiz__box section {
  padding: 25px 30px 20px 30px;
  background-color: #dfe0f9;
}

.quiz__box section .que__text {
  font-size: 24px;
  font-weight: 600;
}

.quiz__box section .option__list {
  padding: 20px 0;
  display: block;
}

section .option__list .option {
  background-color: aliceblue;
  border: 1px solid #6caae4;
  border-radius: 5px;
  padding: 8px 16px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

section .option__list .option:hover {
  color: #1b0c8a;
  background-color: aliceblue;
  border-color: #b8daff;
}

.option__list .option:last-child {
  margin-bottom: 0;
}

.option__list .option .icon {
  height: 26px;
  width: 26px;
  border: 2px solid transparent;
  border-radius: 50%;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  pointer-events: none;
  position: relative;
  z-index: 30;
}

.option__list {
  position: relative;
}

.option__list svg {
  z-index: 30;
  position: absolute;
}

.option__list .option .icon.tick {
  border-color: rgb(38, 198, 20);
  color: rgb(66, 238, 63);
  background-color: aliceblue;
}

.option__list .option .icon.cross {
  border-color: rgb(229, 12, 12);
  /* color: rgb(251, 248, 248); */
  background-color: rgb(246, 219, 219);
}

.option__list .option.correct {
  color: green;
  background-color: #a9f3a6;
  border: 2px solid #52d180;
}
.option__list .option.incorrect {
  color: rgb(211, 16, 16);
  background-color: #ffb9b8;
  border: 2px solid #e39fbf;
}
.quiz__box footer {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 60px;
  width: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quiz__box footer .total__que span {
  display: flex;
  user-select: none;
}

.quiz__box footer .total__que span {
  display: flex;
  user-select: none;
}

footer .total__que span p {
  font-weight: 500;
  padding: 0 5px;
}

footer .total__que span p:first-child {
  padding-left: 0;
}

footer .next__button {
  display: none;
  height: 40px;
  padding: 0 14px;
  font-size: 18px;
  font-weight: 400;
  border: none;
  outline: none;
  color: #dfe0f9;
  background-color: #368dde;
  border-radius: 5px;
  border: 1px solid #3b8dda;
  cursor: pointer;
  transition: all 0.3s ease;
}

footer .next__button:hover {
  background-color: #1b0c8a;
}

.result__box {
  background-color: #dfaaf6;
  color: aliceblue;
  width: 450px;
  padding: 25px 30px;
  border-radius: 28px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  opacity: 0;
}

.result__box .icon {
  font-size: 100px;
  color: #368dde;
  margin-bottom: 10px;
}

.result__box .icon img {
  width: 300px;
  height: 300px;
}
.result__box .complete__text {
  font-size: 20px;
  font-weight: 500;
}

.result__box .score__text span {
  display: flex;
  margin: 10px 0;
  font-size: 18px;
  font-weight: 500;
}

.score__text span p {
  font-weight: 600;
  padding: 0 4px;
}

.result__box .button {
  display: flex;
  margin: 20px 0;
}

.result__box .button button {
  margin: 0 10px;
  height: 46px;
  padding: 0 20px;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 25px;
  border: 1px solid rgb(19, 68, 230);
  cursor: pointer;
  transition: all 0.3s ease;
}

.button button.restart {
  color: #fefefe;
  background-color: #4c035e;
  border: none;
}

.button button.restart:hover {
  background-color: #e7e5f8;
  color: #4c035e;
}

.button button.quit {
  color: #4c035e;
}

.button button.quit:hover {
  color: #ffffff;
  background-color: #ff0cdf;
}
.button button {
  cursor: pointer;
}
